.idea
.vscode
.DS_store

###> symfony/framework-bundle ###
/api/.env.local
/api/.env.local.php
/api/.env.*.local
/api/config/secrets/prod/prod.decrypt.private.php
/api/public/bundles/
/api/var/
/api/vendor/
###< symfony/framework-bundle ###
